$blueColor: rgb(30, 124, 191);
$lightblueColor: rgba(194, 224, 239, 0.531);
$blackColor: rgb(60, 66, 78);
$whiteColor: rgb(250, 250, 250);
$greyColor:#7f8487d9;
$titleFont: Poppins;
$bodyFont: Poppins;

